.gradle
prime-number-proxy-service/build/
prime-number-server/build/
!prime-number-proxy-service/gradle/wrapper/gradle-wrapper.jar
buildSrc/build
out
build

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/**

### Logging ###
*.log
target